body{
    /* background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center; */
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
}

/* CONTENT GENERAL*/

main{
    width: 95vw;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}


#product__image{
    background: url("../images/image-product-desktop.jpg");
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
}

#product__info{
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
    background: hsl(0, 0%, 100%);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#product__category{
 font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

/* PERFUME DESCRIPTION */

#product__name{
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-family: Fraunces;
}

#product__text{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 14px;
}

#prices{
    color: #3D8167;
    font-family: Fraunces;
    font-size: 24px;
    margin-right: 2em;
}

#product__oldPrice{
    color: hsl(212, 21%, 14%);
    text-decoration:line-through;
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 12px;
    padding-top: 18px;
}

#addToCartButton{
    background-color: #3D8167;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 1em;
    border-color: #3D8167;
    font-family: Montserrat;
    width: 100%;

}

button > svg{
    padding-right: 10px;
} 

/* FOOTER */
.attribution {
    font-size: 11px;
    text-align: center;
    font-family: Montserrat;
    color: hsl(212, 21%, 14%);
    margin: 1em;
  }

  .attribution a {
    color: #3D8167;
  }


/* RESPONSIVE */

@media only screen and (min-width: 768px) {

    article{
        flex-direction: row;
    }

    #product-card {
        width: 250px;
        max-height: 250px;
        display: flex;
        margin: 0 auto;
    }

    #product__image {
        background: url("../images/image-product-mobile.jpg");
        flex: 1;
        height: 450px;
        border-radius: 10px 0 0 10px;
    }

    #product__info {
        flex: 1;
        border-radius: 0 10px 10px 0;
    }   

    .parted{
        display: block;
    }

}

@media only screen and (min-width: 992px) {

    #product__name {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    #product__info {
        padding: 1em 2em;
    }
}