body{
    background-color: hsl(30, 38%, 92%);
}

/* CONTENT */

main{
    display: flex;
    justify-content: center;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 10em;
}

/* IMG */
picture{
   width: 100%;
}

img{
    border-radius: 10px 0px 0px 10px;
    /* max-width: 100%; */
    display: block;
 
}

/* PERFUME DESCRIPTION */

.product_description{
    padding: 2em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 10px 10px 0px;
    width: 100%;
}

.product_type{
    font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.product_name{
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-family: Fraunces;
}

.product_text{
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 14px;
}

.prices{
    display: flex;
}

.product_newPrice{
    color: #3D8167;
    font-family: Fraunces;
    font-size: 24px;
    margin-right: 2em;
}

.product_oldPrice{
    color: hsl(212, 21%, 14%);
    text-decoration:line-through;
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-size: 12px;
    padding-top: 18px;
}

button{
    background-color: #3D8167;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 1em;
    border-color: #3D8167;
    font-family: Montserrat;
    border-color: unset;
    width: 100%;

}

button > svg{
    padding-right: 10px;
} 

/* FOOTER */
.attribution {
    font-size: 11px;
    text-align: center;
    font-family: Montserrat;
    color: hsl(212, 21%, 14%);
  }

  .attribution a {
    color: #3D8167;
  }

  @media (max-width: 375px) {
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    article{
      
        width: 100%;
        margin: 1em;
        flex-direction: column;
    }
    
    img{
        border-radius: 10px 10px 0px 0px;
        max-width: 100%;
    }

    .product_description{
        border-radius:0px 0px 10px 10px;
        width: 88%;
    }

    .product_type{
        font-size: 14px;
        margin: unset;
    }
    
    .product_name{
        font-size: 28px;
        margin-top: 10px;
    }
    
    .product_text{
        font-size: 13px;
    }
  }